.header-container {
  height: 10vh;
  width: 80%;
  background-color: #e2e8f0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
